@import '../../index.scss';

.mobile {
  .fundo {
    background-color: rgba($color: $amendoaBranqueada, $alpha: 0.7);
    height: 100vh;
  }

  .conteudo {
    .itens {
      width: 100%;
      .item {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        display: grid;
        justify-items: center;

        transition: $tempoTransicao filter;

        &:active {
          filter: brightness(2);
        }

        .bola {
          width: 120px;
          height: 120px;
          border-radius: 9999px;
          background-color: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          justify-content: center;
          align-items: center;
          display: flex;

          transition: all $tempoTransicao;

          .icone {
            color: $verdeOlivaEscuro;
            width: 80px;
            height: 80px;
            stroke-width: 1px;

            transition: all $tempoTransicao;
          }
        }
        .texto {
          background-color: $verdeOlivaEscuro;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: white;
          padding: 6px 10px;
          margin-top: -8px;
          width: 100%;
          text-align: center;

          transition: all $tempoTransicao;
          animation: traztexto $tempoTransicao ease-in;
        }

        @keyframes traztexto {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      .topo {
        top: 25% !important;
        z-index: 10;
      }

      .presentes {
        top: 25%;

        transition: all $tempoTransicao;
      }

      .presenca {
        top: 50%;

        transition: all $tempoTransicao;
      }

      .guia {
        top: 75%;

        transition: all $tempoTransicao;
      }

      .primeiro-direita {
        right: 30%;
        z-index: 50;
      }
      .segundo-direita {
        right: 18%;
        z-index: 100;
      }
      .primeiro-esquerda {
        right: 70%;
        z-index: 50;
      }
      .segundo-esquerda {
        right: 82%;
        z-index: 100;
      }

      .bolas-topo {
        top: 27%;

        .bola {
          width: 60px;
          height: 60px;
          .icone {
            width: 40px;
            height: 40px;
          }
        }
        .texto {
          z-index: 1000;
        }
      }
    }

    .quadro {
      margin: 0 auto;
      margin-top: 100px;

      max-width: 80%;
      background-color: $amendoaBranqueada;
      opacity: 0.9;
      padding: 90px 18px 20px 18px;

      transition: all $tempoTransicao;

      .quadro-conteudo {
        font-family: 'Arapey', serif;
        font-size: 16px;
        line-height: 140%;
        color: $verdeOlivaEscuro;
        text-align: center;

        p {
          margin: 8px 0;
        }

        .sub {
          font-size: 13px;
        }

        .linha {
          width: 200px;
          height: 1px;
          background-color: $verdeOlivaEscuro;
          margin: 0 auto;
        }

        .mapa iframe {
          border: 1px solid $verdeOlivaEscuro;
          max-height: 100px;
          width: 100%;
        }

        .formulario {
          width: 100%;
          text-align: start;

          .label {
            font-size: 14px;
            font-style: italic;
            margin-top: 12px;
          }

          .pesquisa {
            padding: 12px;
            background-color: white;
            border: 1px solid $verdeOlivaEscuro;
            color: $mogno;
            width: 100%;
            box-sizing: border-box;

            font-family: 'Arapey', serif;
            font-size: 16px;

            &::placeholder {
              color: $mogno;
              opacity: 0.5;
            }
          }

          .area-confirmacao {
            padding: 12px;
            background-color: white;
            border: 1px solid $verdeOlivaEscuro;
            color: $mogno;
            width: 100%;
            box-sizing: border-box;

            .item-confirmacao {
              display: flex;
              margin-bottom: 8px;
              label {
                margin-left: 8px;
              }
              input[type='checkbox'] {
                /* Add if not using autoprefixer */
                -webkit-appearance: none;
                /* Remove most all native input styles */
                appearance: none;
                /* For iOS < 15 */
                background-color: var(--form-background);
                /* Not removed via appearance */
                margin: 0;

                font: inherit;
                color: currentColor;
                width: 1.15em;
                height: 1.15em;
                border: 0.15em solid currentColor;
                display: grid;
                place-content: center;
              }

              input[type='checkbox']::before {
                content: '';
                width: 0.65em;
                height: 0.65em;

                transform: scale(0);
                transform-origin: bottom left;

                box-shadow: inset 1em 1em var(--form-control-color);
                /* Windows High Contrast Mode */
                background-color: $verdeOlivaEscuro;
              }

              input[type='checkbox']:checked::before {
                transform: scale(1);
              }

              input[type='checkbox']:focus {
                outline: max(2px, 0.15em) solid currentColor;
                outline-offset: max(2px, 0.15em);
              }
            }
          }

          .confirmacao {
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: $verdeOlivaEscuro;
            color: white;
            font-family: 'Arapey', serif;
            font-size: 16px;
            font-weight: 700;
            padding: 6px 0;
            margin-top: 8px;
            cursor: pointer;

            &:hover {
              filter: brightness(1);
            }

            &:active {
              filter: brightness(1.1);
            }
          }
        }
      }
    }
    .quadro-escondido {
      opacity: 0;
    }
  }
}
