@import '../../index.scss';

$tamanhoHorizontal: 5vw;

.mobile {
  .fundo {
    background-color: rgba($color: $amendoaBranqueada, $alpha: 0.6);
    height: 100vh;
  }

  .conteudo {
    .itens {
      width: 100%;
      .item {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        display: grid;
        justify-items: center;

        transition: $tempoTransicao filter;

        &:active {
          filter: brightness(2);
        }

        .bola {
          width: calc(90px + $tamanhoHorizontal);
          height: calc(90px + $tamanhoHorizontal);
          border-radius: 9999px;
          background-color: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          justify-content: center;
          align-items: center;
          display: flex;

          transition: all $tempoTransicao;

          .icone {
            color: $verdeOlivaEscuro;
            width: calc(60px + $tamanhoHorizontal);
            height: calc(60px + $tamanhoHorizontal);
            stroke-width: 1px;

            transition: all $tempoTransicao;
          }
        }
        .texto {
          background-color: $verdeOlivaEscuro;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: white;
          padding: 6px 10px;
          margin-top: -8px;
          width: 100%;
          text-align: center;

          transition: all $tempoTransicao;
          animation: traztexto $tempoTransicao ease-in;
        }

        @keyframes traztexto {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      .topo {
        top: 25% !important;
        z-index: 10;
      }

      .presentes {
        top: 25%;

        transition: all $tempoTransicao;
      }

      .presenca {
        top: 50%;

        transition: all $tempoTransicao;
      }

      .guia {
        top: 75%;

        transition: all $tempoTransicao;
      }

      .primeiro-direita {
        right: 30%;
        z-index: 50;
      }
      .segundo-direita {
        right: 18%;
        z-index: 100;
      }
      .primeiro-esquerda {
        right: 70%;
        z-index: 50;
      }
      .segundo-esquerda {
        right: 82%;
        z-index: 100;
      }

      .bolas-topo {
        top: 27%;

        .bola {
          width: 60px;
          height: 60px;
          .icone {
            width: 40px;
            height: 40px;
          }
        }
        .texto {
          z-index: 1000;
        }
      }
    }

    .quadro {
      margin: 0 auto;
      margin-top: 10vh;

      max-width: 80%;
      background-color: $amendoaBranqueada;
      opacity: 0.9;
      padding: 90px 18px 20px 18px;

      transition: all $tempoTransicao;

      .quadro-conteudo {
        font-family: 'Arapey', serif;
        font-size: 16px;
        line-height: 140%;
        color: $verdeOlivaEscuro;
        text-align: center;

        p {
          margin: 8px 0;
        }

        .sub {
          font-size: 13px;
        }

        .linha {
          width: 200px;
          height: 1px;
          background-color: $verdeOlivaEscuro;
          margin: 0 auto;
        }

        .mapa iframe {
          border: 1px solid $verdeOlivaEscuro;
          max-height: 100px;
          width: 100%;
        }
      }
    }
    .quadro-escondido {
      opacity: 0;
    }
  }
}
