@import '../../index.scss';

.mobile {
  .fundo {
    background-color: rgba($color: $amendoaBranqueada, $alpha: 0.7);
    height: 100vh;
  }

  .conteudo {
    .itens {
      width: 100%;
      .item {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        display: grid;
        justify-items: center;

        .bola {
          width: 120px;
          height: 120px;
          border-radius: 9999px;
          background-color: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          justify-content: center;
          align-items: center;
          display: flex;

          transition: all $tempoTransicao;

          .icone {
            color: $verdeOlivaEscuro;
            width: 80px;
            height: 80px;
            stroke-width: 1px;

            transition: all $tempoTransicao;
          }
        }
        .texto {
          background-color: $verdeOlivaEscuro;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: white;
          padding: 6px 10px;
          margin-top: -8px;
          width: 100%;
          text-align: center;

          transition: all $tempoTransicao;
        }
      }

      .presentes {
        top: 25%;
        z-index: 100;
      }

      .presenca {
        top: 50%;

        transition: all $tempoTransicao;
      }

      .guia {
        top: 75%;

        transition: all $tempoTransicao;
      }

      .primeiro-direita {
        right: 30%;
        z-index: 50;
      }
      .segundo-direita {
        right: 18%;
        z-index: 10;
      }

      .bolas-topo {
        top: 27%;
        .bola {
          width: 60px;
          height: 60px;
          .icone {
            width: 40px;
            height: 40px;
          }
        }
        .texto {
          opacity: 0;
        }
      }
    }

    .quadro {
      margin: 0 auto;
      margin-top: 100px;

      max-width: 80%;
      background-color: $amendoaBranqueada;
      opacity: 0.9;
      padding: 90px 18px 20px 18px;

      transition: all $tempoTransicao;

      .quadro-conteudo {
        font-family: 'Arapey', serif;
        font-size: 16px;
        line-height: 140%;
        color: $verdeOlivaEscuro;
        text-align: center;
      }
    }
    .quadro-escondido {
      margin-top: 999px;
    }
  }
}
