$selaMarrom: #893e04;
$mogno: #b84900;
$crayolaDeCobre: #db8c62;
$amendoaBranqueada: #fde6c4;
$verdeOlivaEscuro: #65743a;
$verdeEscuro: #002500;

@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

@font-face {
  font-family: 'Halimun';
  src: url('assets/Halimun.ttf') format('truetype');
}

body,
html {
  margin: 0;
}
