@import '../../index.scss';

.desktop {
  .background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    z-index: -999;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      max-height: 100vw;
    }
  }

  .fundo {
    background-color: rgba($color: $amendoaBranqueada, $alpha: 0.7);
    height: 100vh;
  }

  .conteudo {
    header {
      color: white;
      text-align: center;
      padding-top: 40px;
      img {
        max-width: 120px;
      }
      .titulo {
        font-family: 'Halimun', cursive;
        font-size: 64px;
      }
      .data {
        font-family: 'Arapey', serif;
        font-size: 28px;
        text-transform: uppercase;
      }
    }

    .centro {
      text-align: center;

      .texto-centro {
        width: fit-content;
        margin: 40px auto;

        h1 {
          font-family: 'Arapey', serif;
          background-color: $verdeOlivaEscuro;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: white;
          padding: 6px 20px;
        }
      }

      img {
        max-width: 20%;
        border: 8px solid white;
        /* border-radius: 40px; */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
